<div class="container-fluid mt-2">
    <div class="row text-center">
        <div class="col">
            <img class="mb-2" width="155" height="35"
                src="https://www.ziprecruiter.com/zrs/employer/f810ae13/img/logos/ziprecruiter-blacktext.svg"
                alt="ZipRecruiter">
        </div>
    </div>
</div>
<a class="skipText" routerLink="/home">Skip <fa-icon [icon]="faChevron" style="font-size: 10px;"></fa-icon></a>

<div *ngIf="step === 1" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<div *ngIf="step === 2" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<div *ngIf="step === 3" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<div *ngIf="step === 4" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<div *ngIf="step === 5" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

<div style="margin-top: 35px;" class="container d-flex justify-content-center text-center">
    <div class="row">
        <div class="col">
            <form [formGroup]="candidateForm">
                <!-- STEP ONE -->
                <div *ngIf="step === 1">
                    <h3 class="mb-1 mt-2" style="font-weight: 600;">What job are you looking for next?</h3>
                    <p>We’ll help you get recruited by reaching out when jobs match your profile.</p>
                    <div class="mb-3 pt-3">
                        <input type="text" formControlName="jobTitle" placeholder="Job Title or Keyword"
                            class="form-control form-control-lg" style="min-width: 570px;">
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="city" placeholder="Desired Location"
                            class="form-control form-control-lg">
                    </div>
                    <button style="padding: 10px 100px; font-size: 15px;" (click)="onNext()" type="button"
                        class="btn successBtn">Continue</button>
                </div>
                <!-- STEP TWO -->
                <div *ngIf="step === 2">
                    <h3 class="mb-1 mt-2" style="font-weight: 600;">How should hiring managers contact you?</h3>
                    <div class="mb-3 mt-3 pt-3">
                        <input type="text" formControlName="fullName" placeholder="Full Name"
                            class="form-control form-control-lg" style="min-width: 570px;">
                    </div>
                    <div class="mb-3">
                        <input type="email" formControlName="email" placeholder="Email Address"
                            class="form-control form-control-lg">
                    </div>
                    <div class="mb-3">
                        <input type="password" formControlName="password" placeholder="Password"
                            class="form-control form-control-lg">
                    </div>
                    <div class="mb-3">
                        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                            class="form-control form-control-lg">
                    </div>
                    <button style="padding: 10px 100px; font-size: 15px;" (click)="onNext()" type="button"
                        class="btn successBtn mt-3">Continue</button>
                    <p class="mt-3" style="max-width: 570px;">By clicking the button above, I agree to the ZipRecruiter
                        <a href="#">Terms of Use</a> and
                        acknowledge I have
                        read the <a href="#">Privacy Policy</a>, and agree to receive email job alerts.
                    </p>
                </div>
                <!-- STEP THREE -->
                <div *ngIf="step === 3">
                    <h3 class="mb-1 mt-2" style="font-weight: 600;">How active are you in pursuing your next job?</h3>
                    <div class="mb-3 mt-3 pt-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="isLookingActive" type="radio"
                                name="isLookingActive" id="inlineRadio1" value="true" checked>
                            <label class="form-check-label" for="inlineRadio1">Actively looking</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="isLookingActive" type="radio"
                                name="isLookingActive" id="inlineRadio2" value="false">
                            <label class="form-check-label" for="inlineRadio2">Not looking but open</label>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <div class="form-check form-switch" style="max-width: 500px;">
                            <input class="form-check-input" formControlName="isProfileSearchable"
                                style="font-size: 20px;" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Public: Make my profile
                                searchable by employers</label>
                        </div>
                    </div>
                    <button style="padding: 10px 100px; font-size: 15px;" (click)="onNext()" type="button"
                        class="btn successBtn mt-3">Continue</button>
                </div>
                <!-- STEP FOUR -->
                <div *ngIf="step === 4">
                    <h3 class="mb-1 mt-2" style="font-weight: 600;">To get recruited, we need your work experience</h3>
                    <p>We'll use your work experience to match you to the right jobs.</p>
                    <button style="padding: 8px 30px; font-size: 15px;" type="button" class="btn customBtn mt-3 mb-3">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload Resume</label>
                            <input class="form-control" formControlName="resume" type="file" id="formFile">
                        </div>
                    </button>
                    <div
                        style="width: 100%; height: 20px; border-bottom: 1px solid rgba(128, 128, 128, 0.589); text-align: center">
                        <span
                            style="font-size: 20px; color: rgba(128, 128, 128, 0.842); background-color: #FAFBFC; padding: 0 15px;">or</span>
                    </div>
                    <br><br>
                    <div class="mb-3">
                        <input type="text" formControlName="recentJobTitle" placeholder="Most Recent Job Title"
                            class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="recentCompany" placeholder="Most Recent Company"
                            class="form-control">
                    </div>
                    <div class="form-check d-flex">
                        <input class="form-check-input" formControlName="stillWorkThere" type="checkbox"
                            id="flexCheckChecked" checked>
                        <label class="form-check-label mb-3" style="font-size: 14px; padding-left: 5px;"
                            for="flexCheckChecked">
                            I currently work here
                        </label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <select class="form-select mb-3" style="max-width: 285px;"
                                aria-label=".form-select-lg example">
                                <option selected>Start Year</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select mb-3" style="max-width: 285px;"
                                aria-label=".form-select-lg example">
                                <option selected>Start Month</option>
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 text-start">
                        <a (click)="onMoreInfo()"
                            style="text-decoration: none; font-size: 14px; cursor: pointer; color: #0A58CA;">
                            <fa-icon [icon]="faPlus"></fa-icon> Add More Information
                        </a>
                    </div>
                    <div class="mb-3" *ngIf="showMoreInfo === true">
                        <div class="form-floating">
                            <textarea class="form-control" formControlName="jobDescription" id="floatingTextarea"
                                style="height: 200px"></textarea>
                            <label for="floatingTextarea">Description (optional)</label>
                        </div>
                    </div>
                    <button style="padding: 10px 50px; font-size: 15px;" type="button" class="btn successBtn">Add
                        Another Position</button>
                    <br><br>
                    <a style="text-decoration: none; font-size: 14px; cursor: pointer; color: #0A58CA;"
                        (click)="onNext()">I don't have another position</a>
                </div>
                <!-- STEP Five -->
                <div *ngIf="step === 5">
                    <h3 class="mb-1 mt-2" style="font-weight: 600;">Where did you go to school?</h3>
                    <p>Enter 'Self Taught' if you have no formal education.</p>
                    <div class="mb-3">
                        <input type="text" formControlName="school" placeholder="School" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="degree" placeholder="Degree" class="form-control">
                    </div>
                    <div class="mb-3 text-start">
                        <a (click)="onMoreInfo()"
                            style="text-decoration: none; font-size: 14px; cursor: pointer; color: #0A58CA;">
                            <fa-icon [icon]="faPlus"></fa-icon> Add More Information
                        </a>
                    </div>
                    <div class="mb-3" *ngIf="showMoreInfo === true">
                        <div class="form-floating">
                            <textarea class="form-control" formControlName="schoolDescription" id="floatingTextarea"
                                style="height: 200px"></textarea>
                            <label for="floatingTextarea">Description (optional)</label>
                        </div>
                    </div>
                    <button style="padding: 10px 50px; font-size: 15px;" type="button" class="btn successBtn"
                        (click)="onSubmit()">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer-credits></app-footer-credits>