.skipText {
    text-decoration: none;
    padding: 0 5px;
    font-size: 14px;
    color: gray;
    position: absolute;
    top: 1em;
    right: 2em;
}

.skipText:hover {
    color: black;
    text-decoration: underline;
}

p a {
    text-decoration: none;
    padding: 0 5px;
    font-size: 14px;
}

p a:hover {
    text-decoration: underline;
}

p {
    color: gray;
    font-size: 14px;
}

.progress {
    border-top: 1px solid gray;
}

.successBtn {
    padding: 5px 15px;
    color: #fff;
    background: #277f6a none;
    border-radius: 2em;
    font-size: 12px;
    font-weight: bold;
}

.successBtn:hover {
    color: #fff;
    background-color: #005e4d;
    border-color: #005e4d;
    text-decoration: none;
    transition: background-color .1s linear, border-color .1s linear;
}

.customBtn {
    padding: 4px 15px;
    color: #277f6a;
    background-color: white;
    border: 1px solid #d8dbdc;
    border-radius: 2em;
    font-size: 14px;
    font-weight: bold;
}

.customBtn:hover {
    /* padding: 4px 15px; */
    background-color: #f5f6f7;
    transition: background-color .1s linear, border-color .1s linear;
}

.form-check-inline {
    border: 1px solid rgb(185, 185, 185);
    padding: 10px 120px 10px 40px;
}

.form-check-input:checked[type="radio"] {
    background-color: #237461;
}

.form-check-input:checked {
    background-color: #237461;
    border-color: #237461;
}