header {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    padding-bottom: 55px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05), 0 9px 12px rgba(0, 0, 0, 0.1);
}

nav {
    padding: 5px 0;
}

.navbar-light .navbar-nav .nav-link {
    margin: 0px 20px;
    font-size: 14px;
}

.dropdown-menu {
    /* text-align: center; */
    width: 100%;
    min-width: 240px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05), 0 9px 12px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
}

.dropdown-menu li a {
    font-size: 14px;
    font-weight: 600;
}

.dropdown-menu li a:hover {
    text-decoration: underline;
    background-color: white;
    color: black;
}

.activeLine {
    border-bottom: 4px solid #347AB6;
    border-radius: 2px;
    padding-bottom: 3px;
}

.customBtn {
    padding: 4px 15px;
    color: #277f6a;
    background-color: white;
    border: 1px solid #d8dbdc;
    border-radius: 2em;
    font-size: 14px;
    font-weight: bold;
}

.customBtn:hover {
    /* padding: 4px 15px; */
    background-color: #f5f6f7;
    transition: background-color .1s linear, border-color .1s linear;
}

.successBtn {
    padding: 5px 15px;
    color: #fff;
    background: #277f6a none;
    border-radius: 2em;
    font-size: 12px;
    font-weight: bold;
}

.successBtn:hover {
    color: #fff;
    background-color: #005e4d;
    border-color: #005e4d;
    text-decoration: none;
    transition: background-color .1s linear, border-color .1s linear;
}