<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
        <div class="container">
            <a class="navbar-brand" routerLink="/home">
                <img src="https://www.ziprecruiter.com/zrs/starterview/f810ae13/img/logos/ziprecruiter-blacktext.svg"
                    alt="Logo" width="155" height="34">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Job Seekers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Search Jobs</a></li>
                            <li><a class="dropdown-item" href="#">Search Salaries</a></li>
                            <li><a class="dropdown-item" href="#">Job Seeker Reviews</a></li>
                            <li><a class="dropdown-item" href="#">Get The App</a></li>
                            <li><a class="dropdown-item" href="#">Create Free Account</a></li>
                            <li><a class="dropdown-item" href="#">Job Seeker Review</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Small & Medium Businesses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item disabled" href="#" style="font-style: italic;">1 -
                                    5,000 Employees</a></li>
                            <li><a class="dropdown-item" href="#">Post a Job</a></li>
                            <li><a class="dropdown-item" href="#">How it Works</a></li>
                            <li><a class="dropdown-item" href="#">Employer Reviews</a></li>
                            <li><a class="dropdown-item" href="#">Plans</a></li>
                            <li><a class="dropdown-item" href="#">New Account Help</a></li>
                            <li><a class="dropdown-item" href="#">Employer Support</a></li>
                            <li><a class="dropdown-item" href="#">Call: (877) 252-1062</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Enterprise Businesses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item disabled" href="#" style="font-style: italic;">5,000+
                                    Employees</a></li>
                            <li><a class="dropdown-item" href="#">Enterprise Overview</a></li>
                            <li><a class="dropdown-item" href="#">How it Works</a></li>
                            <li><a class="dropdown-item" href="#">Customer Stories</a></li>
                            <li><a class="dropdown-item" href="#">Frequently Asked Questions</a></li>
                            <li><a class="dropdown-item" href="#">Request a Consultation</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center justify-content-center ">
                <li class="nav-item">
                    <button class="customBtn">Post a Job</button>
                </li>
                <li class="nav-item" *ngIf="isHome === true || isForgotPass === true">
                    <a class="nav-link" routerLink="/login/1">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<nav class="navbar navbar-light bg-light d-none d-xl-block" *ngIf="isHome === true">
    <div class="container">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Job title or keyword" aria-label="Search">
            <input class="form-control me-2" type="search" placeholder="City, state or ZIP" aria-label="Search">
            <button class="btn successBtn" type="submit" style="min-width: 100px;">Search Jobs</button>
        </form>
    </div>
</nav>