<app-header></app-header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 style="display: inline; font-family: 'Amiri', serif;">&ldquo;Like a personal recruiter,
                    ZipRecruiter did the
                    legwork for me&rdquo;</h1>
                <span style="color: rgb(230, 230, 230);"> —Kristina R.</span>
                <br><br>
                <h4 style="font-size: 18px;">Finding a job shouldn’t be a full-time job. Tell us what you’re looking for
                    and we’ll get to
                    work for you.</h4>
                <br><br>
                <button class="btn successBtn" routerLink="/new-candidate">Get Started</button>
                <br><br>
                <a style="color: white;" href="#">Hiring? Post Jobs for Free.</a>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-start"
                style="flex-direction: column; height: 80vh;">
                <img src="assets/stars.png" width="120" height="20" alt="Stars" style="margin-left: 80px;">
                <h1 style="font-size: 24px; padding-top: 10px;">Rated #1 Job Site in the U.S.<sup>1</sup></h1>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>