.successBtn {
    padding: 6px 40px;
    color: #fff;
    background: #277f6a none;
    border-radius: 2em;
    font-size: 16px;
    font-weight: bold;
}

.successBtn:hover {
    color: #fff;
    background-color: #005e4d;
    border-color: #005e4d;
    text-decoration: none;
    transition: background-color .1s linear, border-color .1s linear;
}


section {
    background-image: url('https://www.ziprecruiter.com/assets/static/img/homepage/2021-video/hero-desktop-3.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    padding-top: 150px;
}