<app-header></app-header>
<div style="margin-top: 50px;" class="container d-flex justify-content-center text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <h1 class=" mb-3">Sign In</h1>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login', 1]" (click)="onClick(1)" aria-current="page"
                            routerLinkActive="active">I'm an Employer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login', 2]" (click)="onClick(2)"
                            routerLinkActive="active">I'm a Job Seeker</a>
                    </li>
                </ul>
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <input type="email" formControlName="email" placeholder="Email Address" class="form-control"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <input type="password" formControlName="password" placeholder="Password" class="form-control">
                    </div>
                    <button style="padding: 10px 100px; font-size: 15px;" type="button" (click)="onSubmit()"
                        class="btn successBtn">Sign
                        In</button>
                </form>
                <a class="mt-3" routerLink="/forgot-password">Forgot Password?</a> - <a
                    routerLink="/activate-email">Activate Email?</a>
                <p class="mt-3" *ngIf="currentUser === 1">New to ZipRecruiter?<a href="/new-employer">Create an
                        employer profile</a></p>
                <p class="mt-3" *ngIf="currentUser === 2">New to ZipRecruiter?<a routerLink="/new-candidate">Create
                        a job seeker
                        profile</a></p>
            </div>
            <p style="margin-top: 30px; font-size: 12px;">
                <a href="#">Find a Job</a> | <a href="#">Post a Job</a> | <a href="#">Privacy</a> | <a href="#">Employer
                    Support</a>| <a href="#">Job Seeker Support</a>
            </p>
        </div>
    </div>
</div>