<hr>
<div class="row text-center">
    <p>Your privacy is our priority. Learn more: <a href="#">Do Not Sell My Personal Information</a></p>
    <p><a href="#">COVID-19 Resources</a> | <a href="#">Privacy Policy</a> | <a href="#">California Privacy
            Notice</a> | <a href="#">Terms of Use</a> | <a href="#">Job Posting Rules</a> | <a href="#">Attribution
            Notices</a> | <a href="#">Corporate Responsibility</a></p>
    <p>ZipRecruiter, Inc. © 2021 All Rights Reserved Worldwide.</p>
</div>