hr {
    margin: 50px 0 30px 0;
}

p {
    font-size: 12px;
    color: rgb(124, 123, 123);
}

.text-center p a {
    font-weight: 400;
    color: rgb(124, 123, 123);
    text-decoration: none;
}

.text-center p a:hover {
    text-decoration: underline;
}