<div *ngIf="step === 1" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<div *ngIf="step === 2" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<div *ngIf="step === 3" class="progress" style="height: 8px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>
<div style="margin-top: 35px;" class="container d-flex justify-content-center text-center">
    <div class="row">
        <div class="col">
            <img class="mb-3" width="155" height="35"
                src="https://www.ziprecruiter.com/zrs/employer/f810ae13/img/logos/ziprecruiter-blacktext.svg"
                alt="ZipRecruiter">
            <form [formGroup]="employerForm">
                <!-- STEP ONE -->
                <div class="card" style="height: 450px;" *ngIf="step === 1">
                    <h4 class="mb-3 mt-2" style="font-weight: 600;">Create an Employer Account</h4>
                    <div class="mb-3">
                        <input type="text" formControlName="fullName" placeholder="Your Name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="email" formControlName="email" placeholder="Email" class="form-control">
                        <div class="form-text text-start" style="font-size: 12px;">Candidates that apply to your job
                            will be sent to this email
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="password" formControlName="password" placeholder="Create Password"
                            class="form-control">
                        <div class="form-text text-start" style="font-size: 12px;">Minimum 8 characters</div>
                    </div>
                    <div class="mb-3">
                        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                            class="form-control">
                    </div>
                    <button style="padding: 10px 50px; font-size: 15px;" (click)="onNext()" type="button"
                        class="btn successBtn">Get
                        Started</button>
                    <p style="margin-top: 30px; font-size: 12px; color: gray;">By clicking 'Get Started' I agree to
                        the
                        ZipRecruiter<a href="#">Terms of Use</a>and acknowledge I have read
                        the<a href="#">Privacy Policy</a></p>
                </div>
                <!-- STEP TWO -->
                <div class="card" *ngIf="step === 2" style="width: 512px; height: 450px;">
                    <h4 class="mb-3 mt-2" style="font-weight: 600;">Tell Us About Your Company</h4>
                    <div class="text-start mb-3">
                        <p class=" m-0" style="font-size: 16px;">I want to:</p>
                        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                            autocomplete="off" checked>
                        <label class="btn btn-outline-secondary" for="success-outlined" style="min-width: 224px;">Hire
                            for my company</label>

                        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                            autocomplete="off">
                        <label class="btn btn-outline-secondary" for="danger-outlined" style="min-width: 224px;">Find a
                            job</label>
                    </div>
                    <div class="mb-3">
                        <input type="text" placeholder="Company Name" class="form-control">
                    </div>
                    <select class="form-select mb-3" formControlName="jobsNumber" aria-label=".form-select-lg example">
                        <option selected value="0">- How many jobs do you need to fill? -</option>
                        <option value="1">1 job</option>
                        <option value="2">2 to 3 jobs</option>
                        <option value="3">4 to 10 jobs</option>
                        <option value="4">11 to 20 jobs</option>
                        <option value="5">21 to 50 jobs</option>
                        <option value="6">51 to 100 jobs</option>
                        <option value="7">100 to 250 jobs</option>
                        <option value="8">250+ jobs</option>
                    </select>
                    <select class="form-select mb-3" formControlName="hiringNeed" aria-label=".form-select-lg example">
                        <option selected value="0">- Which of these best describes your hiring needs? -</option>
                        <option value="1">I hire infrequently</option>
                        <option value="2">I need to hire every few months</option>
                        <option value="3">I'm always hiring</option>
                    </select>
                    <div class="mb-3">
                        <input type="text" placeholder="Company Website (optional)" class="form-control">
                    </div>
                    <button style="padding: 10px 50px; font-size: 15px;" (click)="onNext()" type="button"
                        class="btn successBtn">Continue</button>
                </div>
                <!-- STEP THREE -->
                <div class="card" *ngIf="step === 3" style="width: 512px; height: 520px;">
                    <h4 class="mb-3 mt-2" style="font-weight: 600;">Finalize Your Details</h4>
                    <select class="form-select mb-3 mt-3" formControlName="currentTitle"
                        aria-label=".form-select-lg example">
                        <option selected value="0">- Your Current Title -</option>
                        <option value="1">Admin</option>
                        <option value="2">HR / Talent Professional</option>
                        <option value="3">Manager / Head of Department</option>
                        <option value="4">Director / VP</option>
                        <option value="5">C-Level</option>
                        <option value="6">Business Owner</option>
                        <option value="7">Recruiting / Staffing Firm</option>
                        <option value="8">Other</option>
                    </select>
                    <div class="mb-3">
                        <input type="text" formControlName="phoneNumber" placeholder="Phone Number"
                            class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="zipCode" placeholder="Zip Code" class="form-control">
                    </div>
                    <select class="form-select mb-3" formControlName="trackingSystem"
                        aria-label=".form-select-lg example">
                        <option selected value="0">- Do you use an Applicant Tracking System? -</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                        <option value="3">I don't know</option>
                    </select>
                    <select class="form-select mb-3" formControlName="marketingOption"
                        aria-label=".form-select-lg example">
                        <option selected value="0">- How did you hear about us? -</option>
                        <option value="1">Streaming Audo (Pandora, Spotify, etc.)</option>
                        <option value="2">Billboard</option>
                        <option value="3">TV</option>
                        <option value="4">In the Mail</option>
                        <option value="5">Soial (Facebook, Linkedin, Instagram, etc.)</option>
                        <option value="6">Search Engine</option>
                        <option value="7">Radio (AM/FM/XM)</option>
                        <option value="8">Podcast</option>
                        <option value="9">Other</option>
                    </select>
                    <div class="mt-2">
                        <button style="padding: 10px 40px; font-size: 15px;" type="button" (click)="onSubmit()"
                            class="btn successBtn mt-3">Register</button>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked" style="font-size: 12px; color: gray;">
                            I agree to let ZipRecruiter contact me by
                            autodialer at the number above <button
                                style="border-radius: 50%; font-size: 13px; padding: 1px 6px;" type="button"
                                class="btn btn-secondary fw-bold" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="You can receive offers for ZipRecruiter services by phone or text at the number you provided when you signed up. We might contact you using an automatic telephone dialing system or leave a prerecorded message if we can’t reach you. We find that customers appreciate receiving these offers, though consent is not required as a condition of signing up for service or purchasing anything from ZipRecruiter. You can also revoke consent at any time by e-mailing businessaffairs@ziprecruiter.com and including `Revocation of Telephone Consent` in the subject line.">
                                ?
                            </button>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>