<app-header></app-header>
<div style="margin-top: 50px;" class="container d-flex justify-content-center text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <h2 class=" mb-3">Activate your Email</h2>
                <p>Enter the email address for your ZipRecruiter account below and we will email you a link to activate
                    your email.</p>
                <form [formGroup]="activateForm">
                    <div class="mb-3 mt-2">
                        <input type="email" formControlName="email" placeholder="Your Email Address"
                            class="form-control" aria-describedby="emailHelp">
                    </div>
                    <button style="padding: 5px 60px; font-size: 15px;" type="button" (click)="onSubmit()"
                        class="btn successBtn mt-2">Send Activation</button>
                </form>
                <a class="mt-3" routerLink="/login/1" style="font-size: 14px;">
                    <fa-icon [icon]="faChevron"></fa-icon> Go to Sign In
                </a>
            </div>
            <p style="margin-top: 30px; font-size: 12px;">
                <a href="#">Find a Job</a> | <a href="#">Post a Job</a> | <a href="#">Privacy</a> | <a href="#">Employer
                    Support</a>| <a href="#">Job Seeker Support</a>
            </p>
        </div>
    </div>
</div>