.card {
    width: 500px;
    height: 320px;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05), 0 9px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px 25px;
}

.successBtn {
    padding: 5px 15px;
    color: #fff;
    background: #277f6a none;
    border-radius: 2em;
    font-size: 12px;
    font-weight: bold;
}

.successBtn:hover {
    color: #fff;
    background-color: #005e4d;
    border-color: #005e4d;
    text-decoration: none;
    transition: background-color .1s linear, border-color .1s linear;
}

a {
    text-decoration: none;
    padding: 0 5px;
    font-size: 12px;
}

p {
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}