.container-fluid {
    margin-top: 60px;
}

h4 {
    font-weight: bold;
    margin-bottom: 14px;
}

h5 {
    font-size: 17px;
    margin-bottom: 14px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 40px;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: rgb(78, 78, 78);
    text-decoration: none;
}

ul li a:hover {
    color: black;
    text-decoration: underline;
}

hr {
    margin: 50px 0 30px 0;
}

.col-md-1 ul li a {
    font-size: 13px;
    color: rgb(124, 123, 123);
}

.item fa-icon {
    font-size: 12px;
    color: #277f6a;
}

.socialItems fa-icon {
    font-size: 25px;
    margin-right: 8px;
    color: rgba(117, 117, 117, 0.781);
}

.socialItems fa-icon:hover {
    color: rgb(78, 78, 78);
}