<div class="container-fluid p-0">
    <div class="row d-flex justify-content-center">
        <div class="offset-md-1 col-md-2 col-6">
            <h4>Trending Job Titles</h4>
            <ul>
                <li class="item">
                    <a href="#">Vaccine Nurse</a>
                </li>
                <li class="item">
                    <a href="#">Video Game Tester</a>
                </li>
                <li class="item">
                    <a href="#">Game Tester</a>
                </li>
                <li class="item">
                    <a href="#">Forex Trader</a>
                </li>
                <li class="item">
                    <a href="#">Cannabis Grower</a>
                </li>
                <li class="item">
                    <a href="#">RN</a>
                </li>
                <li class="item">
                    <a href="#">Flight Attendant</a>
                </li>
                <li class="item">
                    <a href="#">Psychic</a>
                </li>
                <li class="item">
                    <a href="#">Appointment Setter</a>
                </li>
                <li class="item">
                    <a href="#">Traveling CNA</a>
                </li>
                <li class="item">
                    <a href="#">Drone Pilot</a>
                </li>
                <li class="item">
                    <a href="#" style="text-decoration: none; color: #3C8B78;">
                        <fa-icon [icon]="faPlus"></fa-icon> See More
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-6">
            <h4>Trending Job Types</h4>
            <ul>
                <li class="item">
                    <a href="#">Full Time</a>
                </li>
                <li class="item">
                    <a href="#">Work From Home</a>
                </li>
                <li class="item">
                    <a href="#">Remote</a>
                </li>
                <li class="item">
                    <a href="#">Part Time</a>
                </li>
                <li class="item">
                    <a href="#">Online</a>
                </li>
                <li class="item">
                    <a href="#">No Experience</a>
                </li>
                <li class="item">
                    <a href="#">Full Time</a>
                </li>
                <li class="item">
                    <a href="#">Virtual</a>
                </li>
                <li class="item">
                    <a href="#">Covid-19</a>
                </li>
                <li class="item">
                    <a href="#">Entry Level</a>
                </li>
                <li class="item">
                    <a href="#">No Experience</a>
                </li>
                <li class="item">
                    <a href="#" style="text-decoration: none; color: #3C8B78;">
                        <fa-icon [icon]="faPlus"></fa-icon> See More
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-6">
            <h4>Trending Categories</h4>
            <ul>
                <li class="item">
                    <a href="#">Overseas</a>
                </li>
                <li class="item">
                    <a href="#">Esports</a>
                </li>
                <li class="item">
                    <a href="#">Painting</a>
                </li>
                <li class="item">
                    <a href="#">Data Entry</a>
                </li>
                <li class="item">
                    <a href="#">Podcast</a>
                </li>
                <li class="item">
                    <a href="#">Voice Over</a>
                </li>
                <li class="item">
                    <a href="#">Sales</a>
                </li>
                <li class="item">
                    <a href="#">Oil Rig</a>
                </li>
                <li class="item">
                    <a href="#">HVAC</a>
                </li>
                <li class="item">
                    <a href="#">Cargo Ship</a>
                </li>
                <li class="item">
                    <a href="#">Landscaping</a>
                </li>
                <li class="item">
                    <a href="#" style="text-decoration: none; color: #3C8B78;">
                        <fa-icon [icon]="faPlus"></fa-icon> See More
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-6">
            <h4>Trending Cities</h4>
            <ul>
                <li class="item">
                    <a href="#">Las Vegas</a>
                </li>
                <li class="item">
                    <a href="#">Houston</a>
                </li>
                <li class="item">
                    <a href="#">San Antonio</a>
                </li>
                <li class="item">
                    <a href="#">Phoenix</a>
                </li>
                <li class="item">
                    <a href="#">Los Angeles</a>
                </li>
                <li class="item">
                    <a href="#">San Diego</a>
                </li>
                <li class="item">
                    <a href="#">Colorado Springs</a>
                </li>
                <li class="item">
                    <a href="#">Denver</a>
                </li>
                <li class="item">
                    <a href="#">Tucson</a>
                </li>
                <li class="item">
                    <a href="#">Austin</a>
                </li>
                <li class="item">
                    <a href="#">Columbus</a>
                </li>
                <li class="item">
                    <a href="#" style="text-decoration: none; color: #3C8B78;">
                        <fa-icon [icon]="faPlus"></fa-icon> See More
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-12">
            <h4>Trending Companies</h4>
            <ul>
                <li class="item">
                    <a href="#">Walmart</a>
                </li>
                <li class="item">
                    <a href="#">Amazon</a>
                </li>
                <li class="item">
                    <a href="#">Restaurant Depot</a>
                </li>
                <li class="item">
                    <a href="#">Costco</a>
                </li>
                <li class="item">
                    <a href="#">FedEx</a>
                </li>
                <li class="item">
                    <a href="#">FRESHLY</a>
                </li>
                <li class="item">
                    <a href="#">Duke Energy</a>
                </li>
                <li class="item">
                    <a href="#">ZOOM</a>
                </li>
                <li class="item">
                    <a href="#">jackson health system</a>
                </li>
                <li class="item">
                    <a href="#">American Red Cross</a>
                </li>
                <li class="item">
                    <a href="#">Old Dominion Freight Line</a>
                </li>
                <li class="item">
                    <a href="#" style="text-decoration: none; color: #3C8B78;">
                        <fa-icon [icon]="faPlus"></fa-icon> See More
                    </a>
                </li>
            </ul>
        </div>
        <div class="offset-md-1"></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="#">Browse All Jobs <fa-icon [icon]="faChevron"></fa-icon></a>
        </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-center">
        <div class="col-md-1"></div>
        <div class="offset-md-1 col-md-1 col-3">
            <img src="https://www.ziprecruiter.com/zrs/starterview/ed92b887/img/ziprecruiter-chair-R.svg" width="52"
                height="72" alt="">
        </div>
        <div class="col-md-1 col-3" style="margin-right: 40px;">
            <h5>Job Seekers</h5>
            <ul>
                <li class="item">
                    <a href="#">Search Jobs</a>
                </li>
                <li class="item">
                    <a href="#">Browse Jobs</a>
                </li>
                <li class="item">
                    <a href="#">Search Salaries</a>
                </li>
                <li class="item">
                    <a href="#">Job Seeker Reviews</a>
                </li>
                <li class="item">
                    <a href="#">Mobile Apps</a>
                </li>
                <li class="item">
                    <a href="#">Create Free Account</a>
                </li>
                <li class="item">
                    <a href="#">Job Seeker Support</a>
                </li>
                <li class="item">
                    <a href="#">Trust and Safety</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1 col-3" style="margin-right: 40px;">
            <h5>Small & Medium Businesses</h5>
            <ul>
                <li class="item">
                    <a href="#">Post a Job</a>
                </li>
                <li class="item">
                    <a href="#">How it Works</a>
                </li>
                <li class="item">
                    <a href="#">Job Sites</a>
                </li>
                <li class="item">
                    <a href="#">ZipRecruiter Reviews</a>
                </li>
                <li class="item">
                    <a href="#">Plans</a>
                </li>
                <li class="item">
                    <a href="#">Search Resumes</a>
                </li>
                <li class="item">
                    <a href="#">New Account Help</a>
                </li>
                <li class="item">
                    <a href="#">Employer Support</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1 col-3" style="margin-right: 40px;">
            <h5>Enterprise Businesses</h5>
            <ul>
                <li class="item">
                    <a href="#">Enterprise Overview</a>
                </li>
                <li class="item">
                    <a href="#">How it Works</a>
                </li>
                <li class="item">
                    <a href="#">Customer Stories</a>
                </li>
                <li class="item">
                    <a href="#">FAQs</a>
                </li>
                <li class="item">
                    <a href="#">Request a Consultation</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1 col-3" style="margin-right: 40px;">
            <h5>Partner with Us</h5>
            <ul>
                <li class="item">
                    <a href="#">Partner Overview</a>
                </li>
                <li class="item">
                    <a href="#">Job Board API</a>
                </li>
                <li class="item">
                    <a href="#">Email Alert Program</a>
                </li>
                <li class="item">
                    <a href="#">Reseller Program</a>
                </li>
                <li class="item">
                    <a href="#">Job Board Software</a>
                </li>
                <li class="item">
                    <a href="#">ATS Integrations</a>
                </li>
                <li class="item">
                    <a href="#">Newspaper Partnerships</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1 col-3">
            <h5>Company</h5>
            <ul>
                <li class="item">
                    <a href="#">About Us</a>
                </li>
                <li class="item">
                    <a href="#">Careers</a>
                </li>
                <li class="item">
                    <a href="#">Investors</a>
                </li>
                <li class="item">
                    <a href="#">Blog</a>
                </li>
                <li class="item">
                    <a href="#">Press</a>
                </li>
                <li class="item">
                    <a href="#">Engineering</a>
                </li>
                <li class="item">
                    <a href="#">ZipRecruiter.org</a>
                </li>
                <li class="item">
                    <a href="#">ZipRecruiter UK</a>
                </li>
                <li class="item socialItems">
                    <a href="#">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a href="#">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
        <div class="offset-md-1 col-md-1"></div>
    </div>
    <app-footer-credits></app-footer-credits>
</div>